<% @project.users.each do |user| %>
  <ul>
    <li>
      <div>
         <div class="text-secondary h5">Title: <span class="text-dark"><%= user.title %></span></div>
         <div class="text-secondary h5">Name: <span class="text-dark"><%= user.name %></span></div>
         <div class="text-secondary h5">Email: <span class="text-dark"><%= user.email %></span></div>
      </div>
      <div class="text-info">User added to Project on <%= user.created_at.strftime("%d.%m.%Y") %></div>
      <div>
        <%= link_to 'remove User', project_user_path(@project, user), method: 'DELETE', data: { confirm: 'Really?' } %>
        <%= link_to 'Edit User', edit_project_user_path(@project, user)%>
      </div>
    </li>
  </ul>
<% end %>
