<br/>

<h1>Edit user for Project(<%= @project.title %>)</h1>

<br/>

<%= form_for [@project, @user] do |f| %>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :name%>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email%>
    <%= f.email_field :email %>
  </div>
  <br/>
  <div>
    <%= f.submit %>
  </div>
<% end %>
