<h1>Create New User</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="form">

    <li class="form-input">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>

    <li class="form-input">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>

    <li class="form-input">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </li>

    <li class="form-input">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </li>

    <li class="form-input">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>

    <li class="form-input">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </li>

    <li class="form-submit">
      <%= f.submit %>
    </li>

  </ul>

<% end %>




