<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <ol>
      <% @project.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ol>
  <% end %>
  <ul class="form">
    <li class="form-input">
      <%= f.label :title %>
      <%= f.text_field :title%>
    </li>

    <li class="form-input">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </li>

    <li class="form-input">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </li>

    <li class="form-submit">
      <%= f.submit %>
    </li>
  </ul>
<% end %>

